*{
    overflow-x: hidden;
}

.col{
    padding: 0px 1px;    
}

.box{
    background-color: #0a0a0e;
    padding: 6px 12px;
    font-weight: 600;
}

@media screen and (max-width: 768px){ 
    .box{
        font-size: 0.8rem;
    }    
}

@media screen and (max-width: 450px){ 
    .box{
        font-size: 0.6rem;
    }    
}

@media screen and (max-width: 360px){ 
    .box{
        font-size: 0.4rem;
    }    
}