* {
  overflow-x: hidden;
}

.style {
  border-top: 1px solid white;
  background-color: rgba(33,33,33,1);
  word-spacing: 12px;
}

.style1 {
  color: white;
  margin-left: 5px;
}

.style2 {
  color: red;
  margin-left: 5px;
}
