/* *{
    overflow-x: hidden;
}

.carouselItem{
    height: 24rem;
}

.img{
    height: 100%;
}

.previous{
    background-color: brown;
    border: 2px solid black;
}

.next{
    background-color: brown;
    border: 2px solid black;
}

.button{
    background-color: black;
    height: 6px;
} */
