.test{
    /* border: 2px solid black ; */
    border-radius: 10px;
    box-shadow: 10px 20px 20px rgb(0, 0, 0);
    border: 1px solid grey;
    background-color: rgb(200, 200, 200);
    /* color: white; */
}
.test:hover{
    transition: scale(2);
    box-shadow: 10px 25px 25px rgb(0, 0, 0);

}
.divider{
    width: 90%;
    height: 5px;
    background-color: black;
}
.bg{
    background-color: black;
    background: url('https://img4.goodfon.com/wallpaper/nbig/5/79/rio-de-janeiro-favela-brasilien.jpg');
}